<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href=" {{ asset('css/base.css') }} " rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Welcome to the game!</h1>
        {% endblock %}
        {% block flash %}
            {% if app.request.hasPreviousSession %}
                <div class="flash-notice">
                        <h3 id="flash-fail" style="color: red"></h3>
                </div>
                <div class="flash-notice">
                    <h3 id="flash-success" style="color: green"></h3>
                </div>
            {% endif %}
        {% endblock flash %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>
