{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{%  block body %}
    {{ parent() }}
    <p>For create game press button: </p>
    {{ form(form) }}
{% endblock %}